
<div class="container">
  <div class="row">
    <div class="col">
      
    </div>
    <div class="col">
      <h1>New Categoryy</h1>

<%= render 'form', categoryy: @categoryy %>

<%= link_to 'Back', categoryys_path %>
    </div>
    <div class="col">
      
    </div>
  </div>
</div>

