
<div class="nave_bg_color">
<ul class="nav justify-content-center">


        <%= link_to 'All Products', root_path ,class:"nav-link"%>
        <li class="nav-item">
          <%= link_to 'New Product', new_idea_path ,class:"nav-link"%>
  
  </li>
  <li class="nav-item">
          <%= link_to 'category Product', new_categoryy_path ,class:"nav-link"%>
  
  </li>
  

 

  <li class="nav-item">
    <a class="nav-link" href="#">Contect</a>
  </li>

</ul></div>